/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgba(100, 100, 100, 0.5);
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Add more custom styles as needed */

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}