<!-- show.ejs -->
<% include ../partials/header %>

<h1>Flight Details</h1>

<% if (flight) { %>
  <p>Airline: <%= flight.airline %></p>
  <p>Destination: <%= flight.destination %></p>
  <!-- Display other flight details -->
<% } else { %>
  <p>Flight not found.</p>
<% } %>

<% include ../partials/footer %>
